/*Customize*/
body{
	padding-bottom: 55px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	float: left;
}
h1, h2, h3, h4, h5, h6 {
    color: #203864;
}
.nav-item.dropdown a i.ti-plus,
.nav-item.dropdown a i.fa.fa-comments-o,
.nav-item.dropdown a i.ti-menu-alt{
	border: 1px solid #adb5bd;
    border-radius: 50%;
    padding: 3px;
}
.right-sidebar{
	height: auto !important;
}
.sidebar-nav>ul>li>a i,
i.mdi.mdi-toggle-switch {
    font-size: 20px;
}
.sidebar-nav .dropdown-divider{
	border-color: #8991a9;
    margin: 0 20px 0 15px;
}
.footer{
	text-align: center;
	position: fixed;
    bottom: 0;
    left: 0;
}
.dropdown-menu.dropdown-menu-right.user-dd.animated.flipInY.show .with-arrow .bg-primary,
.d-flex.no-block.align-items-center.p-15.bg-primary.text-white.m-b-10{
	background-color: #0077c5 !important;
}
.top-help {
    background: #fff;
    display: inline-block;
    padding: 10px 20px 20px;
    text-align: left;
    width: 100%;
}
.middle-help {
    padding: 20px 10px 0;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.middle-help .help-img{
	margin-right: 10px;
    float: left
}
.middle-help .help-desc{
    float: left
}
.middle-help .help-desc p{
	margin-bottom: 0;
}
.slimscrollright i.ti-close.right-side-toggle{
	top: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.marginLeft{
	margin-left: 8px;
}
.marginRight{
	margin-right: 8px;
}
.marginBottom{
	margin-bottom: 8px;
}
a {
    color: #1F4774;
}

.btn-close{
	right: 20px;
    top: 10px;
    position: absolute;
}
.btn-close i.ti-close{
	font-size: 25px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
}
.slimscrollright h4{
	color: #fff;
}
.customtab li a.nav-link.active, .profile-tab li a.nav-link.active{
	font-size: 17px;
}
.menuLang{
	color: #212529 !important;
	cursor: pointer;
}
/*End*/

/*Customize Kendo*/
.k-autocomplete, .k-block, .k-button, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-gantt-views>.k-current-view, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button .k-gantt-views, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content{
	border-radius: 2px !important;
}
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited{
	background-color: rgb(32, 56, 100) !important;
    border-color: rgb(32, 56, 100) !important;
}
.k-calendar .k-today .k-link {
    color: rgb(32, 56, 100) !important;
}
.k-calendar .k-today{
	box-shadow: inset 0 0 0 1px rgb(32, 56, 100) !important;
}
.k-button.k-state-active, .k-button:active {
    background-color: rgb(32, 56, 100) !important;
    border-color: rgb(32, 56, 100) !important;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]){
	box-shadow: inset 0 0 0 1px rgb(32, 56, 100) !important;
}
.k-block, .k-draghandle, .k-inline-block, .k-widget{
	border: none !important;
}
.k-multiselect-wrap{
	border-width: 1px !important;
}
.k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox>input{
	border-radius: 2px !important;
}
#pager{
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
/*End*/



/*Home Page*/
.home.page-titles{
	margin-bottom: 0;
}
.home .saleOverview{
	background: #fff;
	margin-bottom: 0;
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.home .saleOverview h2{
	color: #333;
	text-transform: capitalize;
}
.home .saleOverview p{
	color: #31708f;
	font-weight: 500;
}
.home .saleOverview span{
	color: #31708f;
}
.home .col-lg-6:first-child .card{
	margin-bottom: 0;
	background: none;
}
.home .card-body{
	padding: 0;
}
.home .card-body .home-chart{
	padding: 20px;
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
	margin-bottom: 15px;
	background: #fff;
}
.home-footer .card{
	margin-bottom: 0;
	background: none;
}
.home-footer .card-body{
	padding: 0;
}
.home-footer .saleOverview{
	background: #2b2f3a;
	margin-bottom: 0;
}
.home-footer .table{
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
	margin-bottom: 15px;
	height: 263px;
}
.home-footer .table th {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	font-weight: 400;
}
.home-footer .table td {
    padding: 8px;
    vertical-align: top;
    border-top: none;
}
.home-footer .table tbody tr:nth-child(odd) td{
    background: #f4f5f8 ;
}
.home-footer .table tbody td {
    background-color: #fff ;
}
.sale .nav.nav-tabs.customtab{
	margin-bottom: 15px;
}

/*Tab 1 Sale Overview*/
.saleOverview{
	background: #0077c5;
	width: 100%;
	float: left;
	color: #fff;
	padding: 15px 0;
	margin-bottom: 2px;
}
.saleOverview h2{
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
}
.saleOverview p{
	font-size: 20px;
	text-align: center;
}
.saleOverview .col-md-12{
	padding: 0;
}
.saleOverview .col-md-12 .col-md-4 span,
.saleOverview .col-md-12 .col-md-6 span{
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
}
.saleOverview .col-md-12 .col-md-3 span{
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
}
#reports .report {
	width: 100%;
	float: left;
	margin-top: 15px;
}
#reports .report .col-sm-4{
	float: left;
	height: auto;
}
#reports .report h3{
	font-size: 17px;
	margin-top: 0;
	text-transform: capitalize;
	color: #0077c5
}
#reports .report p{
	font-size: 13px;
	padding-right: 25px;
	vertical-align: top;
}
.report h3 a:hover {
    color: #203864;
}
/*END*/

/*Tab 2*/
.listWrapper {
    height: 100%;
    min-height: 410px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.listWrapper .innerAll{
    padding: 11px;
    width: 100%;
    height: 106px;
    background: #424242;
}
.widget-search .overflow-hidden>input {
    border: none;
    padding: 7px;
    border-right: none !important;
    width: 100%;
    border-radius: 0;
}
.widget-search{
	width: 100%;
	float: left;
}
.widget-search .overflow-hidden{
	float: left;
	width: 82%;
}
.widget-search .btn.btn-default.pull-right{
	border-radius: 0;
}
.btn-default {
    background: #e7e7e7;
    border-color: #e7e7e7;
}
.btnSearch{
	height: 30px;
	float: left;
}
#date input{
	margin-right: 8px;
}
#date p,
#filter p{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
/*Tab 3*/
#print_export .btnPrint{
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}
#print_export .btnExport{
	float: left;
	margin-bottom: 8px;
}

/*Tab Customer*/
#customers .listWrapper{
	padding: 10px;
    background: #edf1f5;
    float: left;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    min-height: auto;
}
#customers .listWrapper .innerAll{
	height: 96px;
	float: left;
}
#customers .listWrapper .innerAll .widget-search{
	margin-bottom: 10px;
}
#customers .listWrapper .innerAll .select2-container{
	width: 100%;
}
#customers .listWrapper .innerAll .select2-container input{
	width: 100%;
	margin-bottom: 0;
}
#customers .listWrapper .innerAll .widget-search .btn.btn-default.pull-right{
	padding: 6px 9px;
	width: 18%;
}
#customers .listWrapper .results{
	background-color: #0077c5;
    border: none;
    padding: 12px 8px;
    height: 0;
    width: 100%;
    line-height: 0;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 12px;    
}
#customers .listWrapper .table{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
#customers .listWrapper .k-selectable tr td{
	border: 1px solid #ccc;
	border-bottom: none;
	cursor: pointer;
}
#customers .detailsWrapper{
    width: 100%;
    background: #edf1f5;
    float: left;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    padding: 10px;
}
.detailsWrapper  .nav-tabs {
    border-bottom: none;
}
.detailsWrapper .tabcontent-border {
    border: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    background: #fff;
}
.detailsWrapper input.customerName{
	border: none; 
	width: 100%; 
	font-size: 20px; 
	font-weight: 600; 
	margin-bottom: 10px; 
	background: #fff;
	padding: 5px;
	border-radius: 0;
}
.table.table-condensed.k-grid.k-widget.k-display-block{
	height: 590px;
}
@media (max-width: 767px){
	.table.table-condensed.k-grid.k-widget.k-display-block{
		height: 256px;
		-webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
		-webkit-overflow-scrolling: auto; /* Stops scrolling immediately */
		overflow-y: scroll;
	}
}