/*Customize*/
body{
	padding-bottom: 55px;
	font-family: 'Battambang', 'Rubik' !important;
	font-size: 13px;
}
.col, .col-1, .col-10, .col-11, .col-12, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-auto, .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto, .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto, .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto, .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto{
	float: left;
}
h1, h2, h3, h4, h5, h6 {
    color: #203864;
    /*font-family: 'Battambang', 'Roboto Slab' !important;*/
}
/*p, table tr td span{
	font-family: 'Battambang', 'Open Sans' !important;
}*/
#main-wrapper {
    width: 100%;
     overflow: visible; 
}
.nav-item.dropdown a i.ti-plus,
.nav-item.dropdown a i.fa.fa-comments-o,
.nav-item.dropdown a i.ti-menu-alt{
	border: 1px solid #adb5bd;
    border-radius: 50%;
    padding: 3px;
}
.right-sidebar{
	height: auto !important;
}
.sidebar-nav>ul>li>a i,
i.mdi.mdi-toggle-switch {
    font-size: 20px;
    color: #fff;
}
.mdi-toggle-switch-off:before{
	color: #fff;
}
.sidebar-nav .dropdown-divider{
	border-color: #8991a9;
    margin: 0 20px 0 15px;
}
.footer{
	text-align: center;
	position: fixed;
    bottom: 0;
    left: 0;
    z-index: 1;
}

.dropdown-menu.dropdown-menu-right.user-dd.animated.flipInY.show .with-arrow .bg-primary,
.d-flex.no-block.align-items-center.p-15.bg-primary.text-white.m-b-10{
	background-color: #0077c5 !important;
}
.top-help {
    background: #fff;
    display: inline-block;
    padding: 10px 20px 20px;
    text-align: left;
    width: 100%;
}
.middle-help {
    padding: 20px 10px 0;
    text-align: left;
    display: inline-block;
    width: 100%;
}
.middle-help .help-img{
	margin-right: 10px;
    float: left
}
.middle-help .help-desc{
    float: left
}
.middle-help .help-desc p{
	margin-bottom: 0;
}
.slimscrollright i.ti-close.right-side-toggle{
	top: 15px;
    position: absolute;
    right: 15px;
    cursor: pointer;
}
.marginLeft{
	margin-left: 8px;
}
.marginRight{
	margin-right: 8px;
}
.marginBottom{
	margin-bottom: 8px;
}
.marginTop{
	margin-top: 8px;
}
.marginTop15{
	margin-top: 15px;
}

.floatRight{
	float: right !important; 
}
.floatLeft{
	float: left !important; 
}
a {
    color: #1F4774;
}
.k-icon.k-i-more-vertical {
    color: #fff !important;
}
.k-autocomplete, .k-button, .k-draghandle, .k-dropdown-wrap, .k-grid-header, .k-grouping-header, .k-header, .k-numeric-wrap, .k-pager-wrap, .k-panelbar .k-tabstrip-items .k-item, .k-picker-wrap, .k-progressbar, .k-state-highlight, .k-tabstrip-items .k-item, .k-textbox, .k-toolbar, .km-pane-wrapper>.km-pane>.km-view>.km-content{
	background-image: none !important;
}
.btn-close{
	right: 20px;
    top: 10px;
    position: absolute;
}
.btn-close i.ti-close{
	font-size: 25px;
    cursor: pointer;
    color: #333;
    font-weight: 700;
}
.slimscrollright h4{
	color: #fff;
}
.customtab li a.nav-link.active, .profile-tab li a.nav-link.active{
	font-size: 17px;
}
.menuLang{
	color: #212529 !important;
	cursor: pointer;
}
.table.color-table.dark-table{
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    margin-bottom: 15px;
}
.table.color-table.dark-table thead th{
    background-color: #343a40 !important;
    color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    font-weight: 400;
    padding: 10px;    
}
.table.color-table.dark-table tbody tr:nth-child(odd) td {
    background-color: #f4f5f8;
}
.table.color-table.dark-table tbody td {
    background-color: #fff;
    padding: 8px;
    vertical-align: top;
    border-top: none;
    font-size: 14px;
}
.customtab li a.nav-link, .profile-tab li a.nav-link {
	font-size: 17px;
}
.btnPlus{
	background: #343a40 !important;
	width: 40px;
	float: left;
	border-radius: 2px;
}
.btnBarcode{
	width: 100px;
	float: left;
	margin-top: 0 !important;
}
.btnAddAccount{
	width: 135px;
	float: left;
	margin-top: 0 !important;
}
.btnBackgroundBlack{
	background: #343a40 !important;
}
.well {
    z-index: 1;
    position: relative;
    padding: 15px;
    margin-bottom: 15px;
    -webkit-border-radius: 0 0 0 0;
    -moz-border-radius: 0 0 0 0;
    border-radius: 0 0 0 0;
    box-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    background: #f4f5f8 ;
    border-color: #efefef;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.textAlignRight{
	text-align: right;
}
.backgroundButtonFooter{
    padding: 15px;
    position: relative;
    background: #343a40;
    height: auto !important;
    display: inline-block;
    clear: both;
    width: 100%;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.box-generic-noborder{
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.backgroundButtonFooter .btn-btn {
    color: #FFF;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
    padding: 5px 15px;
    cursor: pointer;
    float: right;
    margin-left: 8px;
}
.backgroundButtonFooter .btn-btn:hover {
    background: #009efb;
}
.marginTop15{
	margin-top: 15px;
}
#cbbAccounts-list{
	width: 250px !important;
}
.dropdown-item{
	cursor: pointer;
	color: #333 !important;
}
.dropdown-item:focus, .dropdown-item:hover {
    background-color: rgb(213, 219, 219);
}
.fontIcon17 ul li a span i:before{
	font-size: 15px;
}
.fontIcon17 .table td, .fontIcon17 .table th {
    border-top: none;
    padding: 5px;
}
.right-sidebar {
    right: -270px;
    width: 270px;
}
.shw-rside {
    right: 0;
    width: 270px;
}
.k-button.btn-info,
.table-responsive .k-grid-save-changes,
.table-responsive .k-grid-cancel-changes,
.table-responsive .k-grid-add,
.table-responsive .k-grid-delete{
	color: #fff !important;
    background-color: #009efb;
    border-color: #009efb;
}
.table-responsive .k-icon.k-i-filter{
	color: #fff;
}
.table-responsive .k-grid-filter.k-state-active {
    background-color: #009efb;
}
.sidebar-nav>ul>li{
	font-size: 15px;
}
.grid .table.color-table.dark-table tbody td{
	border: none;
	border-bottom: 1px solid #d5d5d5;
}
/*End*/

/*Customize Kendo*/
.k-grid td {
     border-width: 0;
}
.k-autocomplete, .k-block, .k-button, .k-calendar .k-link, .k-calendar td, .k-calendar-container, .k-colorpicker, .k-combobox, .k-datepicker, .k-datetimepicker, .k-drag-clue, .k-dropdown, .k-dropdown-wrap, .k-editor-inline, .k-gantt-views>.k-current-view, .k-grid .k-filter-options, .k-grouping-header .k-group-indicator, .k-inline-block, .k-list-container, .k-multiselect, .k-notification, .k-numeric-wrap, .k-numerictextbox, .k-picker-wrap, .k-slider-selection, .k-slider-track, .k-split-button .k-gantt-views, .k-textbox, .k-tile, .k-timepicker, .k-tooltip, .k-touch-scrollbar, .k-treeview .k-in, .k-upload, .k-window, .k-window-action, .k-window-titleless .k-window-content{
	border-radius: 2px !important;
}
.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited{
	background-color: rgb(32, 56, 100) !important;
    border-color: rgb(32, 56, 100) !important;
}
.k-calendar .k-today .k-link {
    color: rgb(32, 56, 100) !important;
}
.k-calendar .k-today{
	box-shadow: inset 0 0 0 1px rgb(32, 56, 100) !important;
}
.k-button.k-state-active, .k-button:active {
    background-color: rgb(32, 56, 100) !important;
    border-color: rgb(32, 56, 100) !important;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]){
	box-shadow: inset 0 0 0 1px rgb(32, 56, 100) !important;
}
.k-block, .k-draghandle, .k-inline-block, .k-widget{
	border: none !important;
}
.k-multiselect-wrap{
	border-width: 1px !important;
}
.k-autocomplete .k-input, .k-multiselect-wrap, .k-textbox>input{
	border-radius: 2px !important;
}
#pager{
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
	width: 97%;
    margin: 0 auto;
}
.btn {
	border-radius: 2px;
}
/*End*/



/*Home Page*/
.board-chart{
	width: 100%; 
	padding: 18px 15px; 
	background: #fff; 
	float: left; 
	position: relative; 
	color: #333; 
	overflow: hidden; 
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}

.board-chart h3{
	color: #113051;
    margin-bottom: 11px;
    display: inline-block;
    width: 100%;
}
.functionHome{
	background: #fff;
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
	min-height: 160px;
	text-align: center;
	color: #333; 
	padding: 10px;
}
.functionHome img{
	width: 100%;
}
a:hover .functionHome p{
	color: #0086d5;
}
.functionHome p{
	margin-bottom: 0;
	margin-top: 8px;
	font-size: 16px;
    font-weight: 700;
}
.home.page-titles{
	margin-bottom: 0;
}
.home .saleOverview{
	background: #fff;
	margin-bottom: 0;
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.home .saleOverview h2{
	color: #333;
	text-transform: capitalize;
}
.home .saleOverview p{
	color: #31708f;
	font-weight: 500;
}
.home .saleOverview span{
	color: #31708f;
}
.home .col-lg-6:first-child .card{
	margin-bottom: 0;
	background: none;
}
.home .card-body{
	padding: 0;
}
.home .card-body .home-chart{
	padding: 20px;
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
	margin-bottom: 15px;
	background: #fff;
}
.home-footer .card{
	margin-bottom: 0;
	background: none;
}
.home-footer .card-body{
	padding: 0;
}
.home-footer .saleOverview{
	background: #2b2f3a;
	margin-bottom: 0;
}
.home-footer .table{
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
	margin-bottom: 15px;
}
.home-footer .table th {
	padding: 10px;
	text-align: center;
	text-transform: uppercase;
	vertical-align: top;
	font-weight: 400;
}
.home-footer .table td {
    padding: 8px;
    vertical-align: top;
    border-top: none;
}
.home-footer .table tbody tr:nth-child(odd) td{
    background: #f4f5f8 ;
}
.home-footer .table tbody td {
    background-color: #fff ;
}
.sale .nav.nav-tabs.customtab{
	margin-bottom: 15px;
}

/*Tab 1 Sale Overview*/
.saleOverview{
	background: #0077c5;
	width: 100%;
	float: left;
	color: #fff;
	padding: 15px 0;
	margin-bottom: 2px;
	box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.saleOverview h2{
	font-size: 20px;
	text-align: center;
	text-transform: capitalize;
	color: #fff;
}
.saleOverview p{
	font-size: 20px;
	text-align: center;
}
.saleOverview .col-md-12{
	padding: 0;
}
.saleOverview .col-md-12 .col-md-4 span,
.saleOverview .col-md-12 .col-md-6 span,
.saleOverview .col span{
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
}
.saleOverview .col span{
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
	margin-bottom: 5px;
}
.saleOverview .col-md-12 .col-md-3 span{
	font-size: 14px;
	text-align: center;
	width: 100%;
	float: left;
}
#reports .report {
	width: 100%;
    float: left;
    margin: 15px 0;
    background: #edf1f5;
    padding: 10px 5px;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
#reports .report .col-sm-4{
	float: left;
	height: auto;
}
#reports .report h3{
	font-size: 14px;
	margin-top: 0;
	text-transform: capitalize;
	color: #0077c5;
	padding-bottom: 8px;
	border-bottom: 1px solid #fff;
}

#reports .report h3.marginBottom{
	margin-bottom: 15px;
}
#reports .report p{
	font-size: 13px;
	padding-right: 25px;
	vertical-align: top;
}
.report h3 a:hover {
    color: #203864;
}
/*END*/

/*Tab 2*/
.listWrapper {
    height: 100%;
    min-height: 410px;
    position: relative;
    overflow: hidden;
    background: #fff;
}
.listWrapper .innerAll{
    padding: 11px;
    width: 100%;
    height: 106px;
    background: #424242;
}
.widget-search .overflow-hidden>input {
    border: #d5d5d5 1px solid;
    padding: 7px;
    width: 100%;
    border-radius: 0;
}
.widget-search{
	width: 100%;
	float: left;
}
.widget-search .overflow-hidden{
	float: left;
	width: 82%;
}
.widget-search .btn.btn-default.pull-right{
	border-radius: 0;
	border: #d5d5d5 1px solid;
}
.btn-default {
    background: #e7e7e7;
    border-color: #e7e7e7;
}
.btnSearch{
	height: 30px;
	float: left;
}
#date input{
	margin-right: 8px;
}
#date p,
#filter p{
	float: left;
	width: 100%;
	margin-bottom: 10px;
}
/*Tab 3*/
#print_export .btnPrint{
	float: left;
	margin-right: 8px;
	margin-bottom: 8px;
}
#print_export .btnExport{
	float: left;
	margin-bottom: 8px;
}

/*Tab Customer*/
#customers .listWrapper,
#checkOut .listWrapper{
	padding: 10px;
    background: #edf1f5;
    float: left;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    min-height: auto;
    width: 100%;
}
#checkOut .widget-search .overflow-hidden {
    float: left;
    width: 81%;
}
#customers .listWrapper .innerAll{
	height: 55px;
	float: left;
}
.btnAddCustomer{
	margin-bottom: 8px;
	color: #fff !important;
}
.btnAddCustomer span{
	color: #fff;
}
#customers .listWrapper .innerAll .widget-search{
	margin-bottom: 10px;
}
#customers .listWrapper .innerAll .select2-container{
	width: 100%;
}
#customers .listWrapper .innerAll .select2-container input{
	width: 100%;
	margin-bottom: 0;
}
#customers .listWrapper .innerAll .widget-search .btn.btn-default.pull-right{
	padding: 5px 9px;
	width: 18%;
}
#customers .listWrapper .results{
	background-color: #0077c5;
    border: none;
    padding: 12px 8px;
    height: 0;
    width: 100%;
    line-height: 0;
    float: left;
    color: #fff;
    text-align: center;
    font-size: 12px;    
}
#customers .listWrapper .table{
	width: 100%;
	float: left;
	margin-bottom: 5px;
}

.k-grid-content.k-auto-scrollable{
	overflow: auto !important;
    overflow-x: auto !important;
}
#customers .listWrapper .k-selectable tr td{
	border: 1px solid #ccc;
	border-bottom: none;
	cursor: pointer;
}
#customers .detailsWrapper{
    width: 100%;
    background: #edf1f5;
    float: left;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    padding: 10px;
}
.detailsWrapper  .nav-tabs {
    border-bottom: none;
}
.detailsWrapper .tabcontent-border {
    border: 1px solid #ddd;
    border-top: 1px solid #ddd;
    float: left;
    background: #fff;
    width: 100%;
}
.detailsWrapper input.customerName{
	border: none; 
	width: 100%; 
	font-size: 20px; 
	font-weight: 600; 
	margin-bottom: 10px; 
	background-color: #fff;
	padding: 5px;
	border-radius: 0;
}
.table.table-condensed.k-grid.k-widget.k-display-block{
	height: 590px;
}
#cutomerTransaction .row .col-sm-6{
	margin-bottom: 8px;
}
#cutomerTransaction .row .col-sm-6 a span{
	color: #fff;
	text-transform: uppercase;
}
#cutomerTransaction .row:last-child .col-sm-6:last-child{
	margin-bottom: 0;
}

/*Customer Infor*/
.main-image{
	border: 1px solid #ddd;
    height: auto !important;
    width: 100%;
    margin-bottom: 8px;
}
.accounCetner-textedit{
	border: 1px solid #ccc;
    float: left;
    width: 100%;
}
.accounCetner-textedit table {
	margin-bottom: 8px;
}
.accounCetner-textedit table tr:nth-child(2) td, .accounCetner-textedit table tr:nth-child(4) td, .accounCetner-textedit table tr:nth-child(6) td {
    background: #E4EFF9;
}
.accounCetner-textedit table tr td {
    padding: 5px 15px;
}
.accounCetner-textedit table tr td span{
	width: 100%;
	margin: 0;
}
.accounCetner-textedit a{
	margin: 8px;
    width: 93%;
}
.accounCetner-textedit a.btnViewEditCustomer{
	color: #fff;
}

/*Customer Memo*/
#customerMemo input{
	width: 100%;
	height: 35px;
}
#customerMemo .btnAddMemo i,
#customerMemo .btnAddMemo span{
	color: #fff;
}
#customerMemo .blockShowMemo{
	height: 150px;
    width: 100%;
    float: left;
    border: 1px solid #c5c5c5 !important;
    margin-top: 8px;
    margin-bottom: 0;
}
#customerMemo .blockShowMemo td{
	line-height: 23px;
}
#customerMemo .blockShowMemo  tr:hover {
    background-color: rgb(32, 56, 100) ;
    border-color: rgb(32, 56, 100) ;
    color: #fff;
}
#customerMemo .blockShowMemo blockquote {
    border: none; 
    padding: 0;
    margin-bottom: 0;
    line-height: 15px;
}
#customerMemo .blockShowMemo blockquote p{
	margin-bottom: 0;
}
/*Customer Attachment*/
#customerAttachment .k-widget.k-upload.k-header.k-upload-sync.k-upload-empty{
	border: 1px solid #c5c5c5 !important;
	margin-bottom: 8px;
}
#customerAttachment .table.color-table.dark-table tr th{
	color: #fff !important;
    text-align: center;
    text-transform: uppercase;
    vertical-align: top;
    font-weight: 400;
    padding: 10px;
}
#customerAttachment .table.color-table.dark-table tr td{
	padding: 8px;
    vertical-align: top;
    border-top: none;
}
#customerAttachment a.btnAddAttachment{
	color: #fff;
	margin-top: 8px;
	float: right;
}

.detailsWrapper .blockBalance,
.detailsWrapper .blockDeposit,
.detailsWrapper .blockOpenInvoice,
.detailsWrapper .blockOverDue{
	padding: 10px;
    text-align: left;
    cursor: pointer;
    color: #fff;
    height: 111px;
    margin-bottom: 15px;
    overflow: hidden;
    position: relative;
}
.blockBalance{
    background: #0077c5;
}
.blockDeposit{
	background: #424242;
}
.blockOpenInvoice{
	background: #21abf6;
}
.blockOverDue{
	background: #bbbbbb;
}
.detailsWrapper .blockBalance i,
.detailsWrapper .blockDeposit i,
.detailsWrapper .blockOpenInvoice i,
.detailsWrapper .blockOverDue i{
	padding-top: 30px;
    float: left;
    position: relative;
	font-size: 40px;
	width: 50px;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}
.detailsWrapper .blockBalance:hover i,
.detailsWrapper .blockDeposit:hover i,
.detailsWrapper .blockOpenInvoice:hover i,
.detailsWrapper .blockOverDue:hover i{
	-webkit-transform: rotate(-20deg);
    -moz-transform: rotate(-20deg);
    -o-transform: rotate(-20deg);
    -ms-transform: rotate(-20deg);
    transform: rotate(-20deg);
    font-size: 100px;
    opacity: 0.2;
    left: -20px;
}
.detailsWrapper .blockBalance .txt,
.detailsWrapper .blockDeposit .txt,
.detailsWrapper .blockOpenInvoice .txt,
.detailsWrapper .blockOverDue .txt{
	color: #fff;
	padding: 20px 0 0 5px;
    float: left;
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
    display: inline-grid;
}
.detailsWrapper .blockBalance:hover .txt,
.detailsWrapper .blockDeposit:hover .txt,
.detailsWrapper .blockOpenInvoice:hover .txt,
.detailsWrapper .blockOverDue:hover .txt{
	-webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -o-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    -webkit-transition: all 300ms ease;
    -moz-transition: all 300ms ease;
    -o-transition: all 300ms ease;
    -ms-transition: all 300ms ease;
    transition: all 300ms ease;
}
.detailsWrapper .blockBalance .txt span,
.detailsWrapper .blockDeposit .txt span,
.detailsWrapper .blockOpenInvoice .txt span,
.detailsWrapper .blockOverDue .txt span{
	float: left;
    text-align: left;
    width: 100%;
    line-height: 30px;
}
.detailsWrapper .col-md-12 .marginRight.marginBottom{
	float: left;
}
.detailsWrapper .btnSearch{
	vertical-align: top;
	float: left;
}
/*End Customer*/

/*Quote Page*/
.box-generic{
	border: 1px solid #efefef;
	height: auto !important;
    display: inline-block;
    clear: both;
    width: 100%;
    padding: 15px;
    margin: 0 0 15px;
    border-radius: 0;
    background: #f4f5f8;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
}
.box-generic .table td, 
.box-generic .table th{
	border-top: none;
	padding: 5px;
}
.box-generic .table td .k-datepicker, 
#cbbContact,
.box-generic .table td.k-dropdown{
	width: 100%;
}
.box-generic #txtNumber{
	width: 84%;
	float: left;
	margin-right: 5px;
}
#functionSetting .k-widget{
	width: 100%;
}
.coverQrcode{
	width: 13%;
	float: left;
}
a.fa.fa-qrcode:before{
	color: #000;
	font-size: 30px;
}
.strong{
	background: #eee;
    border: 1px solid #ddd;
    width: 100%;
    padding: 10px;
}
.box-generic-noborder .nav-tabs {
    border: 1px solid #dee2e6;
    border-bottom: 0;
    background: #ddd;
}
.box-generic-noborder .nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    color: #333;
    background-color: #f4f5f8;
    border-color: none;
}
.box-generic-noborder .table.color-table.dark-table{
	border: none;
	box-shadow: none;
}
.box-generic-noborder .table.color-table.dark-table tbody tr:nth-child(odd) td {
    background-color: #fff;
}
.box-generic-noborder textarea{
	width: 100%;
}
.costom-grid input[type="radio"], input[type="checkbox"] {
    margin: 3px 5px !important;
}
.well textarea{
	width: 100%;
}
.k-widget.k-window .backgroundButtonFooter{
	padding: 15px;
    position: relative;
    background: #343a40;
    height: auto !important;
    display: inline-block;
    clear: both;
    width: 93%;
    box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
    margin: 15px 0 0;
    text-align: right;
}
.marginBottom ul li a span i:before,
.box-generic-noborder ul li a span i:before{
	font-size: 17px;
}
#checkOut .k-content{
	background: #2b2f3a;
	min-width: 100%;
}
.demo-section.span12 {
    padding: 15px;
    margin-bottom: 1px;
    background: #2b2f3a;
    float: left;
}
#productListView {
    border: none;
}
.product {
    float: left;
    position: relative;
    width: 24.5%;
    height: 195px;
    cursor: pointer;
    background: #fff;
    margin-right: 2px;
    margin-bottom: 2px;
    overflow: hidden;
}
.product img {
    height: auto;
    margin-bottom: 5px;
    border-bottom: 1px solid #0eac00;
    max-width: 100%;
    margin: 0 auto;
    min-height: 145px;
    width: auto;
}
.product h3 {
    margin: 1px auto;
    width: 75%;
    overflow: hidden;
    line-height: 1.5em;
    font-size: .9em;
    text-transform: uppercase;
    color: #333;
    font-weight: 700;
    text-align: center;
}
#checkOut #pager{
	box-shadow: none;
	width: 98%;
	margin-top: 10px;
	float: left;
}
.listWrapper.marginBottom a{
	color: #fff;
}
.view-details, .view-details:hover {
    display: block;
    position: relative;
}
.view-details:after {
    content: "";
    display: block;
    width: 100%;
    height: 120%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0);
}
.view-details:hover:after {
    background-color: rgba(0,0,0,0.75);
    background-image: url(arrow-right.png);
    background-repeat: no-repeat;
    background-position: 50% 50%;
}
/*End*/


/*Menu Transaction*/
.topbar .menuTransaction{
	width: 663px;
	padding: 10px;
}
.topbar .menuTransaction p{
	margin-bottom: 5px;
	font-weight: 700;
	font-size: 15px;
}
.topbar .menuTransaction .lineBorder{
	border-top: 0;
	border-left: 1px;
	border-right: 1px;
	border-bottom: 0;
	border-style: solid;
	border-color: #333;
}
.topbar .menuTransaction ul {
	margin: 0;
    padding: 0 0 0 20px;
}
.topbar .menuTransaction ul li{
	float: left;
	width: 100%;
	margin-left: 15px;
}
.topbar .menuTransaction ul li a{
	color: #333;
}
.topbar .menuTransaction ul li a:hover{
	text-decoration: underline;
	color: blue;
}
.titleCenter{
	text-align: center;
    font-size: 25px;
    font-weight: 700;
    margin-bottom: 15px;
}
.checkOut-button a:hover span{
	color: #fff;
}
.checkOut-button a.buttoninvoice,
.checkOut-button a.buttonparksale,
.checkOut-button a.buttoncancelsale,
.checkOut-button a.buttoninvoiceSale{
	background: #2b2f3a;
	border-color: #2b2f3a;
	padding: 28px 15px; 
	box-shadow: 2px 0px 12px 0px rgba(68,68,68,1);
}

.checkOut-button a.buttonpay:hover{
	background: #2b2f3a;
	border-color: #2b2f3a;
}
.checkOut-button a.custom{
	background: #fff;
	border-color: #fff;
	color: #333;
}
.checkOut-button a.custom:hover{
	background-color: #009efb;
    border-color: #009efb;
	color: #009efb;
}
.checkOut-button a.buttoninvoice:hover,
.checkOut-button a.buttonparksale:hover,
.checkOut-button a.buttoncancelsale:hover,
.checkOut-button a.buttoninvoiceSale:hover{
	background: #009efb;
	border-color: #009efb;
}
.accounCetner-textedit a:hover i,
.accounCetner-textedit a:hover span{
	color: #fff;
}
.checkOut-button a.buttoncancelpurchase{
	padding: 9.5px 15px;
	box-shadow: 2px 0px 12px 0px rgba(68,68,68,1);
	background: #2b2f3a;
	border-color: #2b2f3a;
}
.checkOut-button a.buttoninvoicepurchase{
	padding: 9px 15px;
	box-shadow: 2px 0px 12px 0px rgba(68,68,68,1);
	background: #2b2f3a;
	border-color: #2b2f3a;
}
.checkOut-button a.buttoncancelpurchase:hover,
.checkOut-button a.buttoninvoicepurchase:hover{
	background: #009efb;
	border-color: #009efb;
}
.checkOut-button .buttonoptionpurchase{
	width: 100%; 
	padding: 20px 15px;
	box-shadow: 2px 0px 12px 0px rgba(68,68,68,1); 
	border-radius: 5px 5px 0 0; 
	margin-bottom: 1px; 
}
.checkOut-button a.buttoninvoicepurchase{
	margin: 1px 1px 1px 0; 
	border-radius: 0 0 0 5px; 
	width: 99%;
}
.checkOut-button a.buttoncancelpurchase{
	border-radius: 0 0 5px 0; 
}
.video-wrapper{
	position: relative;
	overflow: hidden;
}
.video-wrapper a {
    cursor: pointer;
}
.video-wrapper a img {
    height: 220px;
    width: 100%;
    transform: scale(1);
    transition: all 0.6s ease-in-out 0s;
}
.video-wrapper a .mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    opacity: 0;
    background: rgba(0,0,0,.5);
    transition: all 0.4s ease-in-out 0s;
}
.video-wrapper a:hover .mask {
    opacity: 1;
    transition: all 0.4s ease-in-out 0s;
}
.btnplay {
    background: rgba(0, 0, 0, 0.5) url(play.png) no-repeat scroll 5px -2px;
    border-radius: 8px;
    height: 43px;
    left: 40%;
    position: absolute;
    top: 37%;
    transition: all 0.2s ease-in 0s;
    width: 60px;
    z-index: 2;
}
.video-wrapper a:hover .btnplay {
    background-color: rgba(237, 28, 36, 0.9);
}
/*Serface*/
@media (min-width: 1600px) {
	.product{
		height: 225px;
	}
}
@media (min-width: 1281px) {
	.functionHome {
		margin-bottom: 15px;
	}
	.checkOut-button a.buttoninvoice{
		padding: 10px 15px;
	}
	.checkOut-button a.buttoninvoiceSale{
		padding: 20px 15px;
	}
 	.checkOut-button a.buttonparksale{
 		padding: 20px 15px;
 	}
  	.checkOut-button a.buttoncancelsale{
  		padding: 20px 15px;
  	}
  	.checkOut-button a.buttoncancelpurchase{
  		padding: 10px 15px;
  	}
}
/*End*/

/*My Screen*/
@media (min-width: 1025px) and (max-width: 1280px) {
	.checkOut-button a.buttoninvoice{
		padding: 10px 15px;
	}
	.view-details:after {
	    height: 130%;
	}
  	.product{
  		height: 185px;
  	}  
}
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
	.product {
		height: auto;
	    width: 24.2%;
	    min-height: 163px;
	}
	.checkOut-button .buttonoptionpurchase{
		width: 100%; 
		padding: 20px 15px;
	}
}
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
	.product {
	    width: 24.3%;
	    height: 168px;
	}
	.checkOut-button a.buttoncancelsale {
	    padding: 28px 15px;
	}
	.checkOut-button a.buttoninvoiceSale{
		padding: 18px 15px;
	}
	.checkOut-button a.buttonparksale{
		padding: 28px 15px;
	}
	.checkOut-button a.buttoninvoicepurchase{
		width: 94%;
		border-radius: 0;
	}
	.checkOut-button a.buttoncancelpurchase{
		margin-left: 11px;
    	width: 94%;
	}
	.checkOut-button a.buttoncancelpurchase{
		border-radius: 0 0 5px 5px; 
	}
}  

@media (max-width: 767px){
	.board-chart{
		min-height: 110px;
	    padding: 15px 15px 0;
	    height: 110px;
	}
	.board-chart h4{
		font-size: 12px;
	}
	.board-chart h3{
		font-size: 15px;
		margin-bottom: 6px;
	}
	.functionHome{
		margin-bottom: 15px; 
	}
	.table.table-condensed.k-grid.k-widget.k-display-block{
		height: 256px;
		-webkit-overflow-scrolling: touch;
		-webkit-overflow-scrolling: auto; 
		overflow-y: scroll;
  		scroll-behavior: smooth;		
	}
	.box-generic-noborder{
		margin-bottom: 15px;
	}
	.backgroundButtonFooter #saveDraft1{
		margin-top: 8px;
	    margin-left: 0;
	    float: left;
	}
	.backgroundButtonFooter #saveClose {
		margin-left: 0;
	    margin-top: 8px;
	    float: left;
	    margin-right: 8px;
	}
	.backgroundButtonFooter #saveCancel{
		margin-left: 0;
	    margin-top: 8px;
	    float: left;
	    margin-right: 8px;
	}
	.backgroundButtonFooter .dropdown-toggle{
		margin-top: 8px;
	    float: left;
	    margin-left: 0;
	}

	/*Customer Deposit*/
	.table-responsive.customerDeposit {
		margin-top: 15px;
	}

	/*Sale -> Check Out*/
	.demo-section.span12{
		margin-top: 10px;
	}

	.topbar .menuTransaction .lineBorder{
		border-top: 1px;
		border-left: 0px;
		border-right: 0px;
		border-bottom: 1px;
		border-style: solid;
		border-color: #333;
		margin: 8px 0;
	}
	.vtabs .tabs-vertical {
	    width: 50px;
	}
	.checkOut-button a.buttoninvoice,
	.checkOut-button a.buttonparksale,
	.checkOut-button a.buttoncancelsale,
	.checkOut-button a.custom{
		margin-bottom: 15px;
	}
	.checkOut-button a.buttoninvoicepurchase{
		padding: 9px 15px;
	}
	.video-wrapper{
		margin-bottom: 15px;
	}
}