#menu{
  margin: 0;
}
.offline-header{
  width: 100%;
  float: left;
  margin-top: 15px
}
.home-utibill{
  float: left;
  width: 100px;
}
.utibill{
  float: left;
  width: 245px;
}
.offline-content{
  float: left;
  width: 100%;
  margin-top: 50px;
}
.offline-read{
  background: #0077c5;
  width: 100%;
  color: #fff;
  padding: 20px 15px;
  float: left;
}
.offline-read p{
  margin-bottom: 0
}
.offline-read p.pull-right,
.offline-watch p.pull-right{
  font-size: 40px;
  font-weight: 600;
}
.offline-read p.pull-left,
.offline-watch p.pull-left{
  font-size: 20px;
}
.offline-watch{
  background: #21abf6;
  width: 100%;
  color: #fff;
  padding: 20px 15px;
  float: left;
}
.offline-watch p{
  margin-bottom: 0
}
.offline-caltulator{
  width: 100%;
  color: #fff;
  padding: 20px 0;
  float: left;
  box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
  background: #fff;
}
.offline-caltulator .offline-number{
  padding: 10px;
  font-size: 25px;
  color: #333;
  font-weight: 700;
  text-align: center;
  border: 1px solid #333;
  margin-bottom: 15px;
  cursor: pointer;
  box-shadow: 0 2px 0 #d4d7dc, -1px -1px 0 #eceef1, 1px 0 0 #eceef1;
  background: #f4f4f4;
  border-radius: 5px;
}
.offline-search,
.offline-input{
  width: 100%;
  float: left;
  margin-top: 30px;
}

.btn-offline-search{
  float: left;
  width: 21%;
  margin-left: 8px;
  height: 50px;
  cursor: pointer;
  line-height: 50px;
}
.offline-search .icon-search:before{
  font-size: 25px;
}
.offline-input .k-textbox{
  padding: 10px;
  height: 50px !important;
  width: 100%;
  font-size: 18px;
  border: 1px solid #ccc;
}
.k-textbox.input-offline-search{
  width: 75%; 
  float: left; 
  height: 50px !important;
  padding: 10px;
  font-size: 18px;
  border: 1px solid #ccc;
}
.offline-before-read{
  float: left;
  width: 100%;
  margin-top: 30px;
}
.offline-before-read p{
  font-size: 20px;
  margin-bottom: 0;
}
.offline-btntwo{
  width: 100%;
  float: left;
  margin-top: 30px;
}
.offline-btntwo .offline-btn-add{
  float: left;
  background: #0077c5;
  padding: 20px 0;
  color: #fff;
  margin-right: 15px;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.offline-btntwo .offline-btn-next{
  float: left;
  background: #0077c5;
  padding: 20px 0;
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}
.offline-before-read table{
  width: 100%;
  float: left;
}
.offline-before-read table tr td{
  padding: 8px;
}
.offline-before-read table tr:nth-child(2), 
.offline-before-read table tr:nth-child(4){
  background: #E4EFF9;
}
.offline-number .glyphicons.chevron-left i:before{
  top: -12px;
}
.window-header{
  width: 93%;
  padding: 8px 25px 10px;
  float: left;
  border-bottom: 1px solid #333;
}
.window-content{
  width: 93%;
  padding: 10px 25px;
  float: left;
}
#offline-search{
  margin: 30px auto 0;
  display: inline-block;
  position: relative;
  width: 100%;
  background: rgb(213, 219, 219);
  padding-top: 15px;
  padding-bottom: 15px;
  border: 1px solid #d8e2e7;
}
#offline-search .listWrapper {
  padding: 15px;
  background: #fff;
}
#offline-search .listWrapper .innerAll{
  padding: 15px;
  background: #424242; 
}
 #offline-search .listWrapper .results span{
  background: #0077c5;
  padding: 2px 2px 3px;
  width: 100%;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-weight: 700;
  font-size: 12px;
  margin-top: 0;
 }
#offline-search .offline-search-deatil .detailsWrapper{
  width: 100%;
  margin-top: 0;
  background: #fff;
  padding: 15px;
  display: inline-block;
}
#offline-search .widget-search.separator.bottom{
  padding-bottom: 0;
}

@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
  .offline-btntwo .col-sm-6{
    padding-left: 15px;
    padding-right: 15px;
  }
  .offline-content{
    margin-top: 30px;
  }
  .home-utibill {
    float: left;
    width: 90px;
  }
  .utibill {
    width: 200px;
    margin-top: 7px;
  }
  .offline-before-read{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .offline-search, 
  .offline-input,
  .offline-btntwo{
    margin-top: 15px;
  }
  .offline-btn-next{
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .offline-caltulator .offline-number{
    margin-bottom: 10px;
  }
  .col-xs-12{
    width: 100% !important;
  }
}
/*Add New*/
@media (orientation:landscape) {
    .hide-on-landscape {
        display: none;
    }
}
@media (orientation:portrait) {
  .hafl-portrait{
    width: 50%;
  }
  .full-portrait{
    width: 100%;
  }
  .hidden-sm.hide-on-portrait {
      display: none;
  }
}