


.pk{padding: 5px !important;width:  81% !important;
	
	
}



.col-md-4 {padding-left: 5px;padding-right: 5px;}
.col-md-6{padding-right: 5px;padding-left: 0px;}
.col-md-2{padding-left: 0;}
.col-md-6{width: 50%;font-size: 21;}
.col-md-2{width:15%;}
.col-md-10{padding-right: 0px;}


h2{font-size: 24px;text-transform: uppercase;}
.bg-action-button {background: #0eac00 !important;}

.k-draghandle.k-state-selected:hover, .k-ghost-splitbar-horizontal, .k-ghost-splitbar-vertical, .k-list>.k-state-highlight, .k-list>.k-state-selected, .k-marquee-color, .k-panel>.k-state-selected, .k-scheduler .k-scheduler-toolbar .k-state-selected, .k-scheduler .k-today.k-state-selected, .k-state-selected, .k-state-selected:link, .k-state-selected:visited
{background: #45ce54 !important;}

.k-animation-container .k-list-container .k-list-scroller ul li:hover, .table .k-grid-content.k-auto-scrollable .k-virtual-scrollable-wrap table tr:hover {
    background: #45ce54 !important;
    color: #fff;
    border: 0;
	border-radius: 0;}
.btn-primary, #flotTip, .btn-group.open .btn-primary.dropdown-toggle, .btn-primary.disabled, .btn-primary[disabled], .btn-primary:hover, .label-primary, .table-primary thead th, .pagination ul > .active > a, .pagination ul > .active > span, .gallery ul li .thumb, .widget-activity ul.filters li.glyphicons.active i, .ui-slider-wrap .slider-primary .ui-slider-range, .accordion-heading .accordion-toggle, .ui-widget-header, .ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, .fc-event-skin, #external-events li, .notyfy_wrapper.notyfy_primary, .progress.progress-primary .bar, .alert.alert-primary, .pagination ul > li > a:hover, .pagination ul > li.primary > a, .gritter-item-wrapper.gritter-primary .gritter-item, #content-notification .notyfy_wrapper.notyfy_primary, .ribbon-wrapper .ribbon.primary, .label.label-primary, .widget-stats.primary, .widget-stats.primary:hover, .widget.widget-wizard-pills .widget-head ul li.primary a, .bwizard-steps li.active, .sliderContainer .ui-rangeSlider-bar, #tlyPageGuideWrapper #tlyPageGuide li.tlypageguide-active, #tlyPageGuideWrapper #tlyPageGuideMessages .tlypageguide_close, #tlyPageGuideWrapper #tlyPageGuideMessages span, .tabsbar.tabsbar-2.active-fill ul li.active a, .shop-client-products.list ul li a .glyphicons i, .social-large:not(.social-large-2) a.active, .social-large:not(.social-large-2) a:hover, #landing_1 .banner-1 .carousel-indicators li.active, .nav-timeline > li.active > a, .nav-timeline > li > a:hover, .nav-timeline > li.active > a:hover, .layout-timeline ul.timeline > li.active .type:before, .layout-timeline ul.timeline > li.active .type:after, .layout-timeline ul.timeline > li.active:before, .carousel.carousel-1 .carousel-indicators li.active, .widget-body-gray .ui-datepicker .ui-datepicker-calendar tbody td a.ui-state-active, .widget.widget-body-primary > .widget-body, .badge.badge-primary, .widget-stats.widget-stats-primary, .widget-employees [class*='span'].listWrapper .results{
	background: #0eac00 !important;}
.listWrapper .results{background:#0eac00 !important; }
.btn-group.open .btn-inverse.dropdown-toggle, .btn-inverse.disabled, .btn-inverse[disabled], .btn-inverse:hover, .btn-inverse:focus, .btn-inverse 
{background:#0eac00 !important; }
.btn-success{background: #254809 !important;}
.bg-action-button .btn-btn:hover{background: #45ce54 !important;}
.container{
    padding-top: 30px;
}
.background{
    width: 100%;
    background: #fff;
    margin: 0 auto;
    padding: 15px;
    border: 1px solid #d8e2e7;
    border-radius: 2px;
    /* margin-top: 30px; */
    float: left;}
.k-pager-wrap {
    background-color: #0eac00!important;}