@charset "UTF-8";
/* CSS Document */
.inv1 *{
	padding: 0;
	font-family: 'Content', Arial;
	margin: 0;	
	background: none;
	border:none;
	line-height: 16px;
}
sup {
	line-height: 0px;	
}
pre {
	font-size: 10px;
	line-height: 16px;
}
.inv1 h2,.inv1 h3 {
	margin: 0!important;
	line-height: 22px!important;
}
.clear {
	clear: both;
	overflow: hidden;
}
.dotted-ruler {
	padding-bottom: 5px;
	border-bottom: 2px dotted #000;
}
.inv1 {
	width:100%;
	height: 100%;
	background-color: #fff;
	position: relative;	
	overflow: hidden;
}
.inv1 .head {
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    border-bottom: 2px solid #000;
    padding-top: 5%;
    padding-bottom: 5px;
    margin-bottom: 5px;
}
.inv1 .logo {
	height: 100%;
	width: 20%;	
	float: left;
}
.inv1 .head .logo .location {
	width: 141px;
	height: 141px;
	background: url(img/logo.png) no-repeat left top;	
}
.inv1 .logo img {
	width: 100%;
}
.inv1 .cover-name-company {
	width: 75%;
	height: 100%;
	float: right;
}
.inv1 .cover-name-company h2 {
	text-align: center;
	color: #000;
	font-family: 'Moul', cursive;
	font-size: 100%;
}
.inv1 .cover-name-company h3 {
	text-align: center;
	color: #000;
	font-size: 100%;
	text-transform: uppercase;
}

.inv1 .content {
	padding: 1% 5%;
	position: relative;
	clear: both;	
	overflow: hidden;
}
.inv1 .content h1, .inv1 .content h2 {
	text-align: center;
	color: #000;
	font-family: 'Moul', cursive;
	font-size: 16px;
}
.inv1 .content h2 {
	font-family: 'Moul', Arial;
	margin-bottom: 10px;
	font-size: 12px;
	text-transform: uppercase;
	font-weight: bold;
}
.inv1 .cover-customer {
	float: left;
	width: 58%;
	margin-top: 20px;
	overflow: hidden;
}
.inv1 .cover-customer h5 {
	    font-family: 'Moul', Arial;
    font-size: 12px;
    line-height: 20px;
    font-weight: bold;
}
.inv1 .cover-customer p {
	font-size: 24px;	
	font-family: 'Content', Arial;
}
.inv1 .content .left {
	float: left;	
	margin-right: 10px;
}
.inv1 .content .left p {
	font-size: 10px;
}
.inv1 .content .left span {
	font-size: 8px;
}
.inv1 .cover-inv-number {
	float: right;
	width: 30%;	
	position: relative;
}
.inv1 table {
	font-size: 14px;	
	font-family: 'Content', Arial;
}
.inv1 th {
	font-size: 10px;
	font-weight: bold;
	border: 1px solid #000;
	text-align: center;
	color:#000;
}
.inv1 thead tr {
	background-color: rgb(242, 242, 242);
}
.inv1 td {
	text-align: center;
	padding: 2px 0;	
	font-size: 10px;	
	font-family: 'Content', Arial;
	border: 1px solid #000;
}
.inv1 .foot {
	clear: both;
	overflow: hidden;
	margin-top: 11%;	
}
.inv1 .foot .cover-signature {
	width: 80%;
	margin: 0 auto;	
	overflow: hidden;
}
.inv1 .cover-signature .singature {
	    border-top: 1px solid #000;
    padding-top: 5px;
    width: 30%;
    text-align: center;
    font-weight: bold;
}
.inv1 .cover-signature .singature p {
	font-size: 10px;
}
.inv1 .foot h6 {
	    padding-left: 5px;
    padding-top: 20px;
    font-size: 10px;
    font-family: 'Moul', Arial;
}
.inv1 .foot h6 span {
	font-size: 10px;	
}
.inv1 .vattin {
	clear: both;	
	margin-top: 5px;
	overflow: hidden;
}
.inv1 .vattin p {
	font-weight: bold;
	font-size: 10px;
	font-family: 'Content', Arial;
	float: left;
}
.inv1 .vattin span {
	padding: 1px 2px;
	font-size: 10px;
	line-height: 10px;
	font-weight: bold;
	float: left;
	margin-left: 0.8%;
}
.inv2 table td {
	padding: 2px 0;	
}

.formstyle div img {
	width: 100%;
}
.formstyle {
	margin-left: 0;
	padding-top: 10px;
}
.formstyle a {
	cursor: pointer;
	border:1px solid #eee;
}
.formstyle a.form-thumb-active {
	-webkit-box-shadow: 1px 1px 3px 0px rgba(133,133,133,1);
    -moz-box-shadow: 1px 1px 3px 0px rgba(133,133,133,1);
    box-shadow: 1px 1px 3px 0px rgba(133,133,133,1);
	border: none;
}
.invhidden {
	display: none;
}
.invvisible {
	display: block;
}
.colorPalatte {
	overflow: hidden;
	width: 100%;
	position: relative;
	padding: 0;
}
.colorPalatte .tableRow {
	margin-top: 5px;
	overflow: hidden;
}
.search .span12 {
	margin-left: 0;
}
.search .search-contact {
	overflow: hidden;
	width: 100%;
}
.search h2.word-search {
	padding-top: 20px;
	padding-left: 30px;
	margin-bottom: 10px;
}
.search h3 {
	padding: 10px 20px;
	background: #eee;
	font-size: 18px;}
.tableRow div {
	height: 30px;
}
.formstyle {
	margin-right: 0;
}
.formstyle a {
	margin-bottom: 10px;
}
.formstyle a+a+a+a+a, .formstyle a+a+a+a+a+a+a+a, .formstyle a+a+a+a+a+a+a+a+a+a+a, .formstyle a+a+a+a+a+a+a+a+a+a+a+a+a+a  {
	clear: none;
}
.formstyle a+a+a+a, .formstyle a+a+a+a+a+a+a, .formstyle a+a+a+a+a+a+a+a+a+a, .formstyle a+a+a+a+a+a+a+a+a+a+a+a+a  {
	clear: both;
}

.selectType {
	margin-bottom: 10px;
	padding-left:0;
	padding-right: 0;
}
.selectType, .selectType .k-dropdown-wrap {
	border-radius: 0!important;
}
.formVisible {
	display: block;
}
.formHidden {
	display: none;
}
.sale-order {
	padding-bottom: 20px;
}
.sale-order h1 {
	width: 100%;
	padding: 20px 0;
	text-align: center;
	margin-bottom: 20px;
}
.sale-order table tbody tr td.span3 {
	float: none;
}
.sale-order .head {
	border-bottom: 0;
}
.sale-order .span6 td, .sale-order .span6 th {
	text-align: left;
	padding-left: 15px;
}
.quotation {
	padding: 40px 0;
}
.quotation td {
	text-align: left;
	padding-left: 10px;
}
.pcg {
	padding: 20px 0;
}
.pcg * {
	font-size: 10px;
	color: #355176;
}
.pcg .mid-header {
	margin-top: 15px;
	padding: 20px;
	background-color: #dce6f2;
}
.pcg p.form-title {
    color: #000;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 30px;
    margin-top: 16px;
}
.pcg .mid-title {
	background: #10253f;
	text-align: center;
	padding: 8px 0;
}
.pcg .mid-title div {
	color: #fff;
	font-weight: bold;
}
.pcg table th {
	padding: 8px 0;
}
.pcg table, .pcg table th, .pcg table td {
	border-left: none;
	border-right: none;
}
.pcg-border table, .pcg-border table th, .pcg-border table td {
	border: 1px solid #000;
}
.pcg .order-price {
	background: #10253f;
	text-align: center;
	padding: 8px 0;
}
.pcg .order-price p {
	color: #fff;
	font-size: 8px;
}
.pcg .order-price p span {
	font-size: 14px;
	font-weight: bold;
	padding-left: 10px;
	color: #fff;
}
.inv1 .main-color {
	background: #10253f;
	color: #fff;
}
.inv1 .main-color th {
	color: #fff;
}
.pcg-cash {
	padding: 40px 0;
}
.pcg-cash h2 {
	font-family: 'Content', Arial;
    font-size: 20px;
    padding-top: 15px;
}
.pcg-cash td {
	min-height: 30px;
}
.inv1 .left-tbl td {
	text-align: left;
	padding-left: 5px;
}
.inv1 .upside {
	-webkit-transform:rotate(-90deg);
	-moz-transform:rotate(-90deg);
	-o-transform:rotate(-90deg);
	transform:rotate(-90deg);
	ms-filter:"progid:DXImageTransform.Microsoft.BasicImage(rotation=2)";
	filter:progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
    padding: 0 !important;
    margin: 0;
    width: 55px;
    float:left;
}