
  #module-image {
    list-style: none;
  }
  #module-image li {
    width: 116px;
    float: left;
    margin: 0.5px;
  }
  .main {
    border: 1px solid #C8C8C8;
    padding: 1px;
    margin: 0;
    padding-top: 0;
  }
  .full-height {
    height: 100%;
    min-height: 100%;
  }
  .mainContainer {
    min-height: 100%;
    height: 100%;
    margin 0 auto -40px;
  }
  #content {
    margin-top: -20px;
    background: #f4f4f4;
  }
  .vendor {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .vendor>li {
    padding: 2px;
  }
  .k-listview {
    border: 0;
  }
  .k-listview>li(even){
    border-top: 1px solid #cccccc;
  }

  .supplier-icon{
    width: 100%;
  }
  
  .customer-icon{
    width: 90%;
    padding: 0 17%;
  }
  .customer-icon div:first-child{
    margin-right: 10px;
  }
  .customer-border{
    border: none;
  }
  .k-listview:after {
    display: none !important;
  }
  .text-table tr td span{
    color: #333 !important;
  }
  /*.customer-background{
    width: 990px;
    background: #fff;
    margin: 0 auto;
    padding: 15px 0 10px;
  }*/
  .table-condensed th, .table-condensed td{
    padding: 0 0 10px 0 !important;
  }
  .cash-table td{
      padding: 4px 10px !important;
  }
  .k-selectable tr td{
    padding: 0 !important;
  }
  .media, .media-body {
    padding: 8px;
  }
  .btn-nomargin{
    margin-left: 0 !important;
  }

  .welcome-board{
    width: 98%;
    padding: 15px;
    background: #fff;
    float: left;
    position: relative;
  }
  .welcome-board .span4 h2{
    font-size:  21px;
    color: #333;
    float: left;
  }
  .welcome-board .span8,
  .welcome-board .span8 a:hover{
    color: #90A5BA;
  }
  .welcome-board .span8 a{
    font-weight: 600;
  }
  .btn-close{
    position: absolute;
      font-size: 20px;
      cursor: pointer;
      right: 12px;
      top: 31%;

  }

  .board-add{
    width: 100%;
    padding: 15px;
    background: #fff;
    float: left;
    position: relative; 
  }
  .board-add .span6 p{
    font-size:  11px;
    color: #333;
    float: left;
  }
  .board-add .span5{
    margin-top: 10px;
  }
  .board-financial{
    width: 100%;
    padding: 15px 0;
    background: #fff;
    float: left;
    position: relative;
    margin-top: 10px;
    color: #333;
  }
  .board-financial P{ margin-bottom: 0; }
  .board-financial .financial-text2{
    color: #2D74B5;
    font-size: 20px;

  }

  .board-chart{
    width: 100%;
    padding: 15px;
    background: #fff;
    float: left;
    position: relative;
    margin-top: 10px;
    color: #333;
    overflow: hidden;
  }
  .board-chart p{
    font-weight: 600;
  }
  .board-chart p{ font-size: 600; }
  .performance,
  .position {
    background: #E7F2E0;
      width: 95%;
      padding: 15px;
      float: left;
      border-collapse: inherit;
      margin-bottom: 10px;
  }
  /*.home-chart{
    margin-left: 15px;
    margin-right: 15px;
  }*/
  .performance tr td,
  .position tr td{
    padding: 5px 0 5px 0;
      border-bottom: 1px  #D7DCD4 solid;
  }
  .performance tr:last-child td,
  .position tr:last-child td{
      border-bottom: 3px  #D7DCD4 double;
  }

  .welcome-nopadding{
    width: 95%;
    padding-bottom: 10px;
  }
  .span12 .k-chart{
    margin-left: -20px;
  }
  .welcome-nopadding p{
    text-align:  center;
    font-weight: 600;
    color: #333;
    font-size: 20px;
    padding-top: 10px;
  }
  .widget.widget-body-primary > .widget-body *{
    color: #333 !important;
  }
  .widget.widget-tabs-double > .widget-head ul li a span, .widget.widget-tabs-double > .widget-head ul li.active a span{
    line-height: 30px !important;
  }
  #linkPay{
    cursor: pointer;
  }
  .brand {
    color: #ffffff;
  }
  #txtDescription{
    height: 134px;
      margin-bottom: 0;
      resize: none;
  }
  .well textarea,
  .tab-pane  textarea,
  .row-fluid .span5 textarea{
    resize: none;
  }
  .table-condensed th, .table-condensed td {
      padding: 5px 0 5px 0 !important;
  }

/*-- Home Dashbaord --*/
#module-image {
    width: 100%;
    overflow: hidden;
    padding: 0;
}
#module-image li{
  width: 24% !important;
}
#module-image li img{
  width: 100%
}
.board-add .span6,
.board-chart .span12,
.board-chart .span12 .span6 {
  padding: 0px;
}
.board-add .span6 .span12 {
  margin-top: 7px;
}
.board-add .span6 .span12 .span3{
  padding: 1px;
}
.board-add .span6 .span12 .span3 img{
  width: 100%; 
}

#menu {
  position: relative !important;
  width: 100%;
  margin-bottom: 15px;
  overflow: initial;  
}
.main{
  border: none !important;
}
.navbar{
  border-radius: 0;
  background: #1C2633 !important;
}
/*#content .row{
  margin-left: 0 !important;
}*/
#content {
    margin: -20px auto 0!important;
}
html.no-touch.sticky-top:not(.animations-gpu) #content {
    padding-top: 30px !important;
}
.dropdown-menu{
  left: -110px !important;
  top: 111% !important;
}
.navbar-form{
  padding-left: 0 !important;
}

.span5 .btn-group, .btn-group-vertical {
    float: left;
    width: 100%;
    margin-bottom: 10px;
}
#example.k-content .span5{
  padding-left: 0;
}
#example.k-content .span5 textarea{
float: left;
clear: both;
width: 50% !important;
}
#example.k-content .span7{
  padding-right: 0;
}
.saleSummaryCustomer .box-search{
  margin: 15px 0 auto;
  padding: 15px;
  background: #F2F2F2;
}
.saleSummaryCustomer .block-title{
  text-align: center;
  margin-bottom: 20px;
}
.saleSummaryCustomer .block-title h3{
  font-size: 15px;
}
.saleSummaryCustomer .block-title h2{
  font-size: 20px;
  font-weight: 800;
  margin-top: -10px;
  margin-bottom: 0;
}
.saleSummaryCustomer .block-title p{
  font-size: 15px;
}
.saleSummaryCustomer  .span5{
  padding-right: 0;
}
.saleSummaryCustomer  .total-customer,
.saleSummaryCustomer  .total-sale{
  width: 100%;
  padding: 10px;
  background: #DDEBF7;
  text-align: center;
  margin-bottom: 15px;
  display: inline-block;
}
.saleSummaryCustomer  .table-customer{
  width: 100%;
  padding: 10px;
  background: #DDEBF7;
  text-align: center;
  margin-bottom: 15px;
}
.saleSummaryCustomer  .total-customer p,
.saleSummaryCustomer  .total-sale p{
  font-size: 15px;
}
.saleSummaryCustomer  .total-customer span,
.saleSummaryCustomer  .total-sale span{
  font-size: 50px;
  font-weight: 800;
}
#edate,
#sdate {
  display: inline-block;
  padding-bottom: 5px;
  /*width: 95% !important;*/
}
.saleSummaryCustomer #edate,
.saleSummaryCustomer #sdate {
  width: auto;
}
.saleSummaryCustomer .table.table-borderless.table-condensed  tr th{
  border: none;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr th{
 background: #1E4E78;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr:first-child th{
 
  text-transform: uppercase;
  text-align: center;
  font-size: 18px;
  font-weight: 800;
  color: #fff;
  border: none;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr:last-child th{

  text-transform: uppercase;
  font-size: 15px;
  color: #fff;
  font-weight: 800;
  border: none;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr:last-child th:first-child{
  text-align: center;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr:last-child th:last-child{
  text-align: right;
  padding-right: 20px !important;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr td{
  padding-left: 5px;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr:nth-child(2n+1) td {
    background: #fff;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr td {
  background: #F2F2F2;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr td:first-child{
  padding-left: 10px !important;
}
.saleSummaryCustomer .table.table-borderless.table-condensed tr td:last-child{
  text-align: right;
  padding-right: 20px !important;
}
.btn.btn-icon.btn-success.glyphicons.share{
  width: 125px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
.btn.btn-success.btn-icon.glyphicons.ok_2,
.btn.btn-icon.btn-primary.glyphicons.circle_ok{
   width: 80px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
.btn.btn-icon.btn-default.glyphicons.ban{
width: 90px !important;
  text-align: right;
  line-height: 15px;
  color: #333;
}
.span6.hidden-print{
  padding-left: 0;
}
/*#example.k-content .span6{
  padding-right: 0;
}*/
/*#example.k-content .span12{
  padding: 0;
}*/
.btn.btn-success.btn-icon.glyphicons.ok_2{
   width: 50px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
#item-window .btn.btn-danger.btn-icon.glyphicons.remove_2,
#saleTax-window .btn.btn-danger.btn-icon.glyphicons.remove_2{
  width: 50px !important;
}
.input-prepend .input-large{
  border: 1px solid #efefef;
  width: 85%;
  float: right;
  margin-bottom: 10px;
  color: #333;
  padding: 5px !important;
}
.box-generic .btn.btn-icon.btn-default.glyphicons.remove_2{
   width: 90px !important;
  text-align: right;
  line-height: 15px;
  color: #333;
}
.box-generic .row-fluid.row-merge .span6{
  overflow: hidden;
  width: 49%;
}


.btn-group, .btn-group-vertical {
  float: left;
}
.btn-group .dropdown-menu{
  left: 0 !important;
  top: 123% !important;
}
.navbar-form .search-query{
  height: 33px !important;
  width: 170px !important;
  border: none;
  margin-left: 15px;
}
.navbar.main .topnav li {
    margin: 3px 0 0 !important;
}
.btn-group.open .btn-inverse.dropdown-toggle, .btn-inverse.disabled, .btn-inverse[disabled], .btn-inverse:hover, .btn-inverse:focus,
.btn-inverse{
  background: #283444 !important;
  border: none !important;
}
.btn{
  padding: 6px 12px !important;
  border-left: none !important;
}


/*----Customer-----*/
.supplier-icon .span4 img,
.supplier-icon .span3 img,
.customer-icon .span4 img{
  width: 100%;
}
.table-condensed tr td{
  border: none !important;
}
.table-condensed .center a img{
  height: auto;
}
.table-condensed .center a{
    font-size: 15px;
}
.row-fluid{
  clear: both;
  overflow: hidden;
}
#saveRecurring{
  width: 144px;
  text-align: right;
  line-height: 15px;
  color: #333;
}

#saveNew{
  width: 111px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
.btn.btn-danger{
  width: 90px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
#saveClose{
  width: 111px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
#savePrint{
  width: 111px !important;
  text-align: right;
  line-height: 15px;
}

.btn.btn-icon.btn-warning.glyphicons.remove_2{
  width: 90px !important;
  text-align: right;
  line-height: 15px;
  color: #fff;
}
.well textarea, .tab-pane textarea, .row-fluid .span5 textarea {
    resize: none;
    margin-bottom: 6px;
}
.customer-background{
  width: 85%;
  background: #fff;
  margin: 0 auto;
  padding: 15px 0 10px;
}
.input-prepend .input-large{
  border: 1px solid #efefef;
  width: 85%;
  float: right;
  margin-bottom: 10px;
  color: #333;
  padding: 5px;
}
.input-prepend .input-large .glyphicons {
    padding: 5px 0 5px 20px !important; 
}
.tab-pane .btn-icon{
  color: #fff;
  width: 185px;
  text-align: right;
}
.k-numerictextbox .k-input,
.table-bordered .k-textbox,
.k-combobox .k-input{
  color: #333;
}
.table-white .delete{
  cursor: pointer;
}
.span3 label{
  font-size: 12.5px;
}
.tabsbar ul li{
  width: 20%;
}
.tabsbar-2 ul li{
  width: 10%;
}
.row-merge .detailsWrapper,
.row-merge .detailsWrapper .span6{
  padding: 0;
}
.listWrapper{
  padding: 0;
}
.cart_total tr td {
    padding: 5px !important;
}
#edate,
#sdate {
  display: inline-block;
  padding-bottom: 5px;
  border: 1px solid #ccc;
}
.widget-stats-5{
  margin-left: 15px;
}
.media, .media-body{
    border-bottom: 1px solid #ccc;
}
.margin-none .span10{
  width: 50% !important;
}
.margin-none .span10 .margin-none{
  border: 1px solid #ccc;
  padding: 8px;
  color: #333;
}

.cash-table tr td .btn-block {
    width: 190px;
}
.margin-none .span2 .btn-primary{
  width: 90px;

}
.k-textbox>input, .k-autocomplete .k-input, .k-picker-wrap .k-input, .k-numeric-wrap .k-input, .k-dropdown-wrap .k-input, .k-selectbox .k-input{
  padding: 2px !important;
}
.widget.widget-tabs-vertical .widget-head ul{
  padding: 0; 
}
#appendedInputButtons.span12{
  color: #333;
  border: 1px solid #ccc;
  width: 50%;
  padding: 5px;
}
.input-append .btn.btn-default{
  padding: 4px 15px !important;
  margin-bottom: 10px;
  margin-left: 10px;
}
#appendedInputButtons.span4{
  color: #333;
  border: 1px solid #ccc;
  width: 23%;
  padding: 5px;
  margin-right: 5px
}
#appendedInputButtons.span3{
  color: #333;
  border: 1px solid #ccc;
  width: 20%;
  padding: 5px;
  margin-right: 5px
}
.tab-pane.active .k-widget.k-dropdown.k-header{
  margin-bottom: 10px;
}

.row-fluid>.control-group{
  padding: 0 15px;
}
.widget-employees [class*="span"].listWrapper{
  background: none !important; 
}
.widget-search.separator.bottom .overflow-hidden>input{
  border: none;
  padding: 8px;
  border-right: none !important;
}
.widget-employees [class*="span"].listWrapper > .innerAll:first-of-type {
  padding: 11px;
  width: 100%;
  height: 56px;
}
.k-grid-header-wrap table tr .k-header{
  display: none;
}
.span3.listWrapper>.results{
  border: none !important;
  padding: 10px 8px !important;
  height: 0 !important;
  width: 100%;
  line-height: 0 !important;
}
.table.table-condensed.k-grid.k-widget>.k-grid-header{
  border-bottom: none !important;
}
.table.table-condensed.k-grid.k-widget>.k-grid-content{
  border: none !important;
}
.strong {
    margin-bottom: 15px;
}
.k-radio:checked+.k-radio-label:after {
    top: 2px !important;
    left: 2px !important;
}
.table.table-borderless.table-condensed.cart_total .k-widget.k-datepicker.k-header.pull-right .k-picker-wrap.k-state-default .pull-right.k-input{
  padding: 0 !important; 
}

.tabsbar.tabsbar-2 .row-fluid.row-merge .span6.glyphicons.cargo{
  width: 18%;
}


.customer-border .alert-info,
.customer-border .alert-info3{
  padding: 15px;
}

.customer-report-center>.span5{
  padding: 0;
}
.sale-report{
  margin-bottom: 30px;
}
.sale-report h2,
.recevable-report h2{
  font-weight: 600;
  color: #333;
  font-size: 25px;
}
.sale-report .row-fluid>.span6,
.recevable-report .row-fluid>.span6{
  padding: 0;
  width: 46%;
  margin-right: 13px;
}
.sale-report table tr td h3,
.recevable-report table tr td h3{
  font-size: 15px;
  color: #2D77B7;
  font-weight: 600;
}
.sale-report table tr td h3 a:hover,
.recevable-report table tr td h3 a:hover{
  color: #2D77B7;
}
.sale-report table tr td,
.recevable-report table tr td{
  padding: 0 !important;
}
.report-chart{
  background: #fff;
  width: 100%;
  padding: 20px;
  margin-bottom: 10px;
}
.sale-overview h2{ 
  text-align: center;
  color: #fff;
  font-size: 15px;
  margin: 0;
}
.receivable-overview{
  padding: 15px;
  margin-bottom: 15px;
}
.receivable-overview h2{ 
  text-align: center;
  color: #333;
  font-size: 15px;
  margin: 0;
}
.statement{
  width: 100%;
  margin: 0 auto;
}
.statement table tr td{
  padding: 5px 0 5px 15px;  
}
.statement table tr{
  border-bottom: 3px solid #fff;
}
.statement table tr:nth-child(6),
.statement table tr:nth-child(9),
.statement table tr:nth-child(10){
  background: #E4EFF9;
  font-weight: 600;
}

.report-module h2,
.capital-management h2,
.cash-payments h2{
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-weight: 700;
}
.report-module ul{
  padding: 0;
  margin: 0;
}
.report-module ul li{
  list-style: none;
  float: left;
  width: 12.5%;
  margin-left: 20px;
  margin-bottom: 20px;
}
.report-module ul li:first-child{
  margin-left: 0;
}
.report-module ul li a img{
  width: 100%;
}
.report-module ul li .span12{
  margin-top: 10px;
  width: 100%;
  background: #fff;
  color: #263041;
  text-align: center;
  line-height: 35px;
  height: 35px;
  font-size: 30px;
  font-weight: 900;
}
.capital-management .span6,
.cash-payments .span6,
.financial-block,
.revenue .span3{
  padding-left: 0;
}
.capital-management .capital-box{
  text-align: center;
  padding: 0;
  height: 120px;
  background: #26628C;
  margin-left: 3px;
  margin-bottom: 3px;
  width: 49.7%;
  color: #fff;
}
.financial-block .financial-box {
  text-align: center;
  padding: 0;
  height: 120px;
  background: #515151;
  margin-right: 3px;
  margin-bottom: 3px;
  width: 49.7%;
  color: #fff;
}
.capital-management .capital-box:nth-child(1),
.capital-management .capital-box:nth-child(3),
.cash-payments .capital-box:nth-child(1),
.cash-payments .capital-box:nth-child(3){
  margin-left: 0;
}
.financial-block .financial-box:last-child{
  margin-right: 0;
}
.capital-management .capital-box:nth-child(3),
.capital-management .capital-box:nth-child(4),
.cash-payments .capital-box:nth-child(3),
.cash-payments .capital-box:nth-child(4){
  margin-bottom: 0;
}
.capital-management .capital-box .first-text,
.cash-payments .capital-box .first-text,
.financial-block .financial-box .first-text,
.revenue .revenue-box .first-text{
  margin-top: 5px;
  color: #ADB8BF
}
.capital-management .capital-box span,
.cash-payments .capital-box span,
.financial-block .financial-box span,
.revenue .revenue-box span{
  font-weight: 900;
  font-size: 75px;
  line-height: 55px
}
.capital-management .capital-box .month,
.cash-payments .capital-box .month,
.financial-block .financial-box .month,
.revenue .revenue-box .month{
  font-size: 11px;
  color: #fff;
  font-weight: 600;
}
.capital-chart{
  background: #fff;
}
.cash-payments .capital-box{
  text-align: center;
  padding: 0;
  height: 120px;
  background: #388AC3;
  margin-left: 3px;
  margin-bottom: 3px;
  width: 49.7%;
  color: #fff;
}
.cash-payments h2{
  margin-top: 15px;
  width: 65%;
}


.business-block h2,
.financial-block h2,
.revenue h2{
  margin-bottom: 10px;
  font-size: 18px;
  color: #333;
  font-weight: 700;
   margin-top: 10px;
}
.business-box{
  background: #47682E;
  text-align: center;
  padding: 0;
  height: 120px;
  color: #fff;
  width: 36% ;
}
.business-block .business-box:nth-child(3){
  width: 25%;
  margin-left: 3px;
  margin-right: 3px;
}
.business-box .first-text{
  margin-top: 5px;
  color: #ADB8BF
}
.business-box span{
  font-weight: 900;
  font-size: 75px;
  line-height: 55px
}
.business-box .month{
  font-size: 11px;
  color: #fff;
  font-weight: 600;
}
.revenue .revenue-box{
  background: #47682E;
  text-align: center;
  padding: 0;
  height: 120px;
  color: #fff;
  margin-bottom: 3px;
} 
#example.k-content .span4,
#example.k-content .row-fluid .span8,
#example.k-content .row-fluid .span8 .row-fluid .span6{
  padding-left: 0;
}
#example.k-content .row-fluid .span8,
#example.k-content .span4:nth-child(2) {
  padding-right: 0;
}



.supplier-icon .span4{
  padding-left: 5px !important;
}
.row-fluid .span4{
  padding-left: 0;
}
.row-fluid .span4:nth-child(3){
  padding-right: 0;
}

.supplier-icon .span4:last-child img{
  width: 105px;
}


.glyphicons.no-js.remove_2{
  cursor: pointer;
}
.widget-body>div{
  margin-bottom: 15px;
}


.dash-accounting{
  background: #fff;
}
.accounting-management{
  margin-top: 15px;
  padding-left: 0;
}
.accounting-right{
  margin-top: 15px;
  text-align: center;
}
.accounting-right p{
  text-align: left;
}
.accounting-right .btn-download{
  padding: 10px 20px;
  color: #fff;
  background: #30618B;
  margin-top: 10px;
  margin-bottom: 20px;
  display: inline-block;
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
}
.account-stement h2{
  text-align: left;
  font-size: 15px;
  font-weight: 800;
}
.account-stement table{
   text-align: left;
}
.account-stement table tr td {
    padding: 5px 0 5px 15px;
}
.account-stement table tr:nth-child(6), 
.account-stement table tr:nth-child(9), 
.account-stement table tr:nth-child(10) {
    background: #E4EFF9;
    font-weight: 700;
}
.account-stement table tr {
    border-bottom: 3px solid #fff;
}

.accounting-management .capital-box {
    text-align: center;
    padding: 0;
    height: 120px;
    background: #26628C;
    margin-left: 3px;
    margin-bottom: 3px;
    width: 49.5%;
    color: #fff;
}
.accounting-management .capital-box span{
    font-weight: 600;
    font-size: 75px;
    line-height: 55px;
    margin-top: 10px;
    display: inline-block;
}
.accounting-management .capital-box .month{
    color: #fff;
    font-weight: 600;
    margin-top: 10px;
}
.accounting-management .capital-box:nth-child(3), 
.accounting-management .capital-box:nth-child(4) {
    margin-bottom: 0;
}
.accounting-management .capital-box:nth-child(1), 
.accounting-management .capital-box:nth-child(3){
    margin-left: 0;
}
.accounting-management .capital-box:nth-child(1){
  background: #30618B;
}
.accounting-management .capital-box:nth-child(2){
  background: #CADFF1;
  color: #333;
}
.accounting-management .capital-box:nth-child(2) .month,
.accounting-management .capital-box:nth-child(3) .month{
  color: #333;
}
.accounting-management .capital-box:nth-child(3){
  background: #CBCBCB;
  color: #333;
}
.accounting-management .capital-box:nth-child(4){
  background: #4C4848;
  margin-bottom: 15px;
}
.accounting-management table tr td{
  padding: 5px 0 5px 15px;
}
.accounting-management table tr td:first-child{
  font-weight: 600;
}
.accounting-management table tr td:last-child{
  font-weight: 700;
}
.accounting-management table tr:nth-child(2),
.accounting-management table tr:nth-child(4),
.accounting-management table tr:nth-child(6) {
    background: #E4EFF9;
    font-weight: 700;
}

.tab1-aacountsetting{
  border: 1px solid #fff;
  width: 100%;
  display: inline-block;
  padding: 15px 15px 8px;
}
.tab1-aacountsetting p{
  width: 80%;
   display: inline-block;
}
.tab1-aacountsetting .btn-change{
  float: right;
  padding: 10px 15px;
  color: #fff;
  cursor: pointer;
  background: #30618B;
  font-weight: 600;
}
.noted{
  width: 80%;
  float: right;
  margin-right: 50px;
  text-align: right;
}

.accounCetner-textedit{
  margin-top: 15px;
  margin-left: 15px;
  border: 1px solid #ddd;
  margin-right: 15px;
  padding: 10px;
  width: 97%;
  min-height: 215px;
  margin-bottom: 15px;
}

/*.detailsWrapper>.count{
  font-size: 30px !important;
  color: #fff;
}*/
.accounCetner-textedit table tr{
  border: 1px solid #ddd;
  background: #fff;
}
.accounCetner-textedit table tr td{
  padding: 5px 15px;
}
.accounCetner-textedit table tr:nth-child(2) td,
.accounCetner-textedit table tr:nth-child(4) td,
.accounCetner-textedit table tr:nth-child(6) td{
  background: #E4EFF9;
}
.financial-report{
  border: 1px solid #ddd;
  padding: 10px;
  margin-bottom: 15px;
}

.custome-window{
    height: 300px !important;
    width: 400px !important;
}

.custome-window table{
  width: 100%;
  padding: 10px;
}
.custome-window table tr {
  border-bottom: 9px solid #fff;
}
.custome-window .btn.btn-success.btn-icon.glyphicons.ok_2{
  margin: 0 0 0 29%;
}

.item-window{
    height: 200px !important;
    width: 400px !important;
}

.item-window table{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.item-window table{
  width: 100%;
  padding: 10px;
  margin-top: 10px;
}
.item-window table tr {
  border-bottom: 9px solid #fff;
}
.item-window .btn.btn-success.btn-icon.glyphicons.ok_2{
  margin: 0 0 0 29%;
}
.table-tax table tr{
  padding: 8px; 
}
.table-tax table tr:nth-child(even) td{
  background: #E4EFF9;
}
.hidden-print>.span6{
  padding-left: 0;
}

.table-tax table tr td span {
  cursor: pointer !important;
}
.table-segment table tr th{
  text-align: center;
}

.new-account>.span12{
  padding-left: 15px !important;
  padding-right: 15px !important;
}
.new-account table{  
  margin-bottom: 10px;
}
.new-account table tr td:nth-child(3){
  padding-left: 19px;
  padding-right: 8px;
}
#example.k-content .span10.pull-right{
  padding: 0;
  width: 84.3%;
}

.new-account .btn.btn-icon.btn-default.glyphicons.remove_2{
    width: 95px !important;
    text-align: right;
    line-height: 15px;
}



@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px)
and (-webkit-min-device-pixel-ratio: 2){
  #menu {
    margin-bottom: 15px;
  }
  .table-condensed .center {
    width: 31%;
    margin: 0 2px;
    display: inline-block;
  }
  .text-large{
    font-size: 18px;
  }
  .table-condensed .center a img{
    height: auto;
    width: 100%
  }
  h4 {
      font-size: 15px;
  }
  .widget-body table tr td{
    width: 100%;
  }
  
  .btn-group .dropdown-menu{
    left: 0 !important;
    top: 123% !important;
  }
  .customer-border .widget-head .heading{
    font-size: 14px !important;
    float: left !important;
    width: 114% !important;
    margin: 0 !important;
    padding: 0 6px !important;
  }
  .alert-primary table tr td,
  .customer-border table tr td,
  .alert-info table tr td{
    width: 81%;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 5px;
  }
  .table-condensed .center a {
    font-size: 10px;
  }
  .span4 .table-primary.table-bordered tbody td span,
  .span4 .table-primary.table-bordered tbody td .pull-right{
    text-align: center;
    float: none;
    width: 100%;
    float: left !important
  }
  .customer-background{
    width: 98%;
  }
  #example h2{
    margin-left: 15px;
  }
  #example .row-fluid .span6.well {
    padding: 15px 4px !important;
    margin: 0 0 15px 15px !important ;
    width: 45% !important;
  }
  #example .well .span6{
    padding: 5px;
  }
  #example .input-prepend{
    width: 100%;  
  }
  .input-prepend .input-large{
    width: 79%;
  }
  .table-bordered .k-textbox {
    width: 145px !important;
  }
  #example .box-generic {
    width: 100% !important;
    padding: 10px !important;
    margin: 0 0 10px 0 !important;
  }
  .cash-table tr td .btn-block{
    width: 150px;
    font-size: 12.5px;
  }
  .receivable-overview table tr td{
    width: 81%;
    margin: 0 auto;
    display: inline-block;
    padding-bottom: 5px;
  }
  .report-module ul li {
    width: 12.4%;
  }
  .capital-management .capital-box,
  .cash-payments .capital-box,
  .financial-block .financial-box {
    width: 49.6%;
  }
  .business-box {
    min-height: 136px;
    width: 37%;
  }
  .business-block .business-box:nth-child(3) {
    width: 24%;
  }
  .cash-payments h2{
    width: 100%;
  }
  .business-box .first-text {
    min-height: 35px;
  }
  .new-account>.span12{
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

}

@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) { 
  .cash-table tr td .btn-block {
    width: 120px;
    font-size: 72%;
  }
  .report-module ul li {
    width: 11%;
  }
  .capital-management .capital-box,
  .cash-payments .capital-box,
  .financial-block .financial-box  {
    width: 49%;
  }
  .business-box span {
    font-size: 50px;
  }
}