/*-------------
    Deafult CSS
--------------*/
h1,h2,h3,h4,h5,h6{
  font-family: 'Preahvihear', 'Open Sans' !important;
}
html.k-ff.k-ff50{
  background: none;
}
*{
  margin: 0 auto;
  padding: 0;
}
ul{
  padding: 0;
  margin: 0;
}
.wrapper{
  width: 100%;
  position: relative;
  background: #F4F4F4;
  height: 1000px;
}

/*---------
  CSS Menu
-----------*/
.menu {
  background: #1c2633 !important;
  box-shadow: 0 1px 3px #ddd !important;
  color: #fff;
  float: left !important;
  height: 50px !important;
  overflow: inherit !important;
  position: relative !important;
  width: 100% !important;
}
.navbar{
  border-radius: 0 !important;
  background: none !important;
  border: none !important;
}