.widget.widget-tabs-gray > .widget-head ul li.active {
  background: #fff;
}
.glyphicons.btn-icon {
	color: #fff;
	margin-bottom: 10px;
}
.k-picker-wrap .k-select, .k-numeric-wrap .k-select, .k-dropdown-wrap .k-select {
	width: 40px;
}
.k-textbox .k-icon {
	margin: -8px -6px 0;
}
.k-picker-wrap.k-state-hover, .k-picker-wrap.k-state-active {
	background: none;
}
p.addItem {
	cursor: pointer;
}
p.addItem.glyphicons.circle_plus i:before {
	color: #fff;
}
p.addItem.glyphicons.circle_remove i:before {
	color: #a22314;
}
.box-generic-noborder {
	min-height: 155px;
}
.cutype-icon i:before {
	left: 5px;
	top: 3px;
}
#example.k-content .span4 {
	padding-right: 0;
}
#example.k-content .span4:nth-child(2){
	padding: 0 10px;
}
.k-widget.k-dropdown.k-header > .k-dropdown-wrap.k-state-default {
	height: 30px;
}

/*Water Dashboard*/
.water-tableList .table.table-borderless.table-condensed tr th{
	background: #1E4E78;
	text-transform: uppercase;
	color: #fff;
	padding: 10px;
}
.water-tableList .table.table-borderless.table-condensed tr:nth-child(2n+1) td {
    background: #f4f4f4;
    padding: 10px;
}
.water-tableList .table.table-borderless.table-condensed tr td {
    background: #fff;
}
.tab-pane .span2, .tab-pane .span1 {
    padding-left: 0;
}
.k-state-default {
	padding-right: 40px;
}
.k-state-default .k-input {
	width: 96%!important;
}

@charset "UTF-8";
/* CSS Document */
.winvoice-print * {
	font-family: 'Content', Arial!important;
}
.winvoice-print h4 {
	font-family: 'Moul', Arial!important;
}
.winvoice-print .headerinv {
	text-align: center;
	padding: 15px;
	border-bottom: 1px solid #000;
	margin-bottom: 15px;
}
.winvoice-print .cover-customer {
	margin-left: 0;
}
.winvoice-print p {
	margin-bottom: 0;
}
.winvoice-print table thead th {
	text-align: center;
	background: #355176;
	color: #fff;
}
.winvoice-print table thead td {
	text-align: center;
}
.winvoice-print .line {
	border-top: 1px dotted #000;
	width: 100%;
	position: relative;
	clear: both;
}
.customer-report-center table tr td h3 {
	line-height: 14px;
	margin-bottom: 0;
}
.font-small * {
	font-size: 10px;
}
.font-small .cover-customer {
	padding: 0;
}